// TODO: Download fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 3em;
    color: #000000;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

// Config Form
#config {
    position: fixed;
    background: #ffffff;
    border-radius: 20px;
    color: black;
    padding: 20px;
    display: none;
    z-index: 100;
    top: 75px;
    button.close {
        border: 1px solid;
        border-radius: 5px;
        position: absolute;
        right: 20px;
    }
    form {
        font-size: 0.5em;
        input {
            background: none;
            border: none;
            padding: 10px;
            margin: 10px;
        }
        .textFields {
            input {
                border-bottom: 1px solid;
            }
            label, input {
                display: block;
                color: inherit;
                width: 500px;
            }
        }
        .buttonRow {
            input.btn {
                border: 1px solid;
                border-radius: 5px;
            }
        }
    }
}

// Hide scrollbar
body::-webkit-scrollbar {
    width: 0 !important;
}
body {
    overflow: -moz-scrollbars-none;
}
body {
    -ms-overflow-style: none;
}

.modeOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 350px;
    display: none;
}

// Grid Layout
.wrapper {
    width: 1080px;
    height: 1920px;
    border: 1px solid #ffffff;
    display: grid;
    grid-template-areas: 'time time time weather weather' 'date date date date date' 'messages messages messages messages messages' 'switcher switcher switcher switcher switcher' 'footer footer footer footer footer';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.75fr 0.3fr 0.9fr 4.1fr 0.18fr;
    #time {
        grid-area: time;
    }
    #date {
        grid-area: date;
    }
    #weather {
        grid-area: weather;
    }
    #switcher {
        grid-area: switcher;
    }
    #messages {
        grid-area: messages;
    }
    #footer {
        grid-area: footer;
    }
}

// Switcher
#switcher {
    position: relative;
    & > div {
        width: 100%;
        position: absolute;
        transition: all ease-in-out 1s;
        left: -1500px;
    }
}

.wrapper {
    padding: 25px;
}

#time {
    font-size: 4.5em;
}

#date {
    font-size: 1.5em;
}

#weather {
    font-size: 1.5em;
    text-align: right;
    margin-top: 35px;
    i,
    p {
        display: block;
        margin: 0;
    }
    i {
        font-size: 1.5em;
    }
}

#messages {
    text-align: center;
    position: relative;
    p {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#cta {
    ul {
        list-style: none;
        clear: both;
        li {
            padding: 10px 0;
            width: 50%;
            float: left;
        }
    }
    .icon,
    .route,
    .direction,
    .eta {
        display: inline-block;
        margin-right: 10px;
        line-height: 80px;
    }
    .direction {
        margin: 0px;
        position: relative;
        width: 250px;
        left: -50px;
        top: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .eta {
        width: 155px;
        height: 80px;
        border: 3px solid #ffffff;
        border-left: none;
        padding-left: 20px;
        padding-right: 5px;
        position: relative;
        left: -50px;
        text-align: right;
    }
    .icon {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        text-align: center;
        font-weight: bold;
    }
    #bus {
        .icon {
            border: 3px solid #ffffff;
        }
        li {
            display: none;
        }
        li:nth-child(-n + 14) {
            display: list-item;
        }
    }
    #train {
        .icon {
            background-color: #000000;
        }
        .eta {
            border-color: #000000;
            color: #000000;
        }
        li {
            display: none;
        }
        li:nth-child(-n + 6) {
            display: list-item;
        }
    }
}

#events {
    ul {
        font-size: 0.75em;
        list-style: none;
        clear: both;
        li.event {
            padding: 15px;
            float: left;
            width: 50%;
            span {
                margin: 5px 0;
            }
            .eventName {
                font-size: 1.15em;
                margin-bottom: 5px;
            }
            .icon {
                width: 1.25em;
            }
        }
        li.event.happeningNow {
            .eventName {
                text-decoration: underline;
            }
        }
    }
}

#footer {
    text-align: center;
    font-size: 0.5em;
}
