// @import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono')
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono')
@import url('https://fonts.googleapis.com/css?family=Montserrat')
body
    margin: 0
    background-color: #000000
    background-size: 100%
    transition: background-color 5s ease-out
    background-image: url("asfalt-light.png")
    background-attachment: fixed
    background-repeat: repeat
    background-size: 600px
    pointer-events: none
    user-select: none
.wrapper
    font-family: Montserrat, sans-serif    
    color: #ffffff
    text-align: center
    display: grid
    grid-template-areas: "a a a" "b b b" "c c c" "d d e"
    grid-auto-columns: 1fr 1fr 1fr
    grid-template-rows: 0 4fr 2fr 4fr
    #message 
        height: 300px
        margin: 0 auto
        grid-area: d
        opacity: 1
        transition: opacity 1s ease-out
        img
            height: 100%
            filter: brightness(0) invert(1)
    #time
        font-family: 'Roboto Mono', monospace   
        letter-spacing: 0.05em
        font-size: 280px
        padding: 5px 0
        grid-area: b
    #date 
        letter-spacing: 0.1em
        font-size: 100px
        grid-area: c
    #weather
        grid-area: e
        font-size: 90px
        text-align: left
        

@media (max-width: 1600px)
    .wrapper
        #time
            font-size: 200px
        #date
            font-size: 75px
        #weather
            font-size: 65px
        #message
            height: 200px


@media (max-width: 1200px)
    .wrapper
        #time
            font-size: 160px
        #date
            font-size: 55px
        #weather
            font-size: 45px
        #message
            height: 150px

@media (max-width: 930px)
    .wrapper
        #time
            font-size: 120px
        #date
            font-size: 45px
        #weather
            font-size: 40px
        #message
            height: 120px

@media (max-width: 650px)
    .wrapper
        grid-template-areas: "a a a" "b b b" "c c c" "e e e" "d d d"
        grid-template-rows: 0 3fr 2fr 4fr 3fr
        #time
            font-size: 78px
        #date
            font-size: 30px
        #weather
            font-size: 35px
            text-align: center
        #message
            height: 120px

@media (max-width: 420px)
    .wrapper
        #time
            font-size: 50px
        #date
            font-size: 20px
        #weather
            font-size: 30px
        #message
            height: 90px