@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0;
  background-color: #000000;
  background-size: 100%;
  -webkit-transition: background-color 5s ease-out;
  -o-transition: background-color 5s ease-out;
  transition: background-color 5s ease-out;
  background-image: url("asfalt-light.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 190px 190px; }

.wrapper {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  text-align: center;
  display: grid;
  grid-template-areas: "a a a" "b b b" "c c c" "d d e";
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-rows: 0 4fr 2fr 4fr; }
  .wrapper #message {
    height: 300px;
    margin: 0 auto;
    grid-area: d;
    opacity: 1;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out; }
    .wrapper #message img {
      height: 100%;
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1); }
  .wrapper #time {
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 0.05em;
    font-size: 300px;
    padding: 5px 0;
    grid-area: b; }
  .wrapper #date {
    letter-spacing: 0.1em;
    font-size: 100px;
    grid-area: c; }
  .wrapper #weather {
    grid-area: e;
    font-size: 90px;
    text-align: left; }
