extends layout

block content
    form(action="/")
        fieldset
            label(for="ctabusstops") CTA Bus Stops (Add comma separated stop ids)
            input(type="text" label="ctabusstops")

            label(for="ctatrainstations") CTA Bus Stops (Add comma separated stop ids)
            input(type="text" label="ctatrainstations")

            label(for="weathercity") CTA Bus Stops (Add comma separated stop ids)
            input(type="text" label="weathercity")

            label(for="eventcalendars") CTA Bus Stops (Add comma separated stop ids)
            input(type="text" label="eventcalendars")
            
            button#submit(type="submit") Submit