extends layout

block content
  #time
  #date
  #weather
    i#weather-icon
    p#weather-condition
    p#weather-temperature
  #events
    ul
      //- li.event
      //-   .eventName
      //-     span Test Event 1
      //-   .eventDate
      //-     i.icon.fas.fa-calendar-alt
      //-     span May 25
      //-   .eventTime
      //-     i.icon.fas.fa-clock
      //-     span 02:00 PM - 04:00 PM
      //-   .eventLocation
      //-     i.icon.fas.fa-map-marker-alt
      //-     span SELE 2264
      //- li.event
      //-   .eventName
      //-     span Test Event 2
      //-   .eventDate
      //-     i.icon.fas.fa-calendar-alt
      //-     span May 25
      //-   .eventTime
      //-     i.icon.fas.fa-clock
      //-     span 02:00 PM - 04:00 PM
      //-   .eventLocation
      //-     i.icon.fas.fa-map-marker-alt
      //-     span SELE 2264
      //- li.event
      //-   .eventName
      //-     span Test Event 3
      //-   .eventDate
      //-     i.icon.fas.fa-calendar-alt
      //-     span May 25
      //-   .eventTime
      //-     i.icon.fas.fa-clock
      //-     span 02:00 PM - 04:00 PM
      //-   .eventLocation
      //-     i.icon.fas.fa-map-marker-alt
      //-     span SELE 2264
      //- li.event
      //-   .eventName
      //-     span Test Event 4
      //-   .eventDate
      //-     i.icon.fas.fa-calendar-alt
      //-     span May 25
      //-   .eventTime
      //-     i.icon.fas.fa-clock
      //-     span 02:00 PM - 04:00 PM
      //-   .eventLocation
      //-     i.icon.fas.fa-map-marker-alt
      //-     span SELE 2264
      //- li.event
      //-   .eventName
      //-     span Test Event 5
      //-   .eventDate
      //-     i.icon.fas.fa-calendar-alt
      //-     span May 25
      //-   .eventTime
      //-     i.icon.fas.fa-clock
      //-     span 02:00 PM - 04:00 PM
      //-   .eventLocation
      //-     i.icon.fas.fa-map-marker-alt
      //-     span SELE 2264
      //- li.event
      //-   .eventName
      //-     span Test Event 6
      //-   .eventDate
      //-     i.icon.fas.fa-calendar-alt
      //-     span May 25
      //-   .eventTime
      //-     i.icon.fas.fa-clock
      //-     span 02:00 PM - 04:00 PM
      //-   .eventLocation
      //-     i.icon.fas.fa-map-marker-alt
      //-     span SELE 2264
  #messages
    p 
  #transit
    #cta
      ul#bus
      ul#train
  script(src='/main.js')