extends layout

block content
  #offlineMode Offline Mode
  #time
  #date
  #weather
    i#weather-icon.owi.owi-04n
    p#weather-condition Cloudy
    p#weather-temperature 72 &#176;F<br> 32 &#176;C
  #messages
    p
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eveniet pariatur sed expedita 
  #switcher
    #events
      ul
        li.event.happeningNow
          .eventName
            span Test Event 1
          .eventDate
            i.icon.fas.fa-calendar-alt
            span May 25
          .eventTime
            i.icon.fas.fa-clock
            span 02:00 PM - 04:00 PM
          .eventLocation
            i.icon.fas.fa-map-marker-alt
            span SELE 2264
        li.event
          .eventName
            span Test Event 2
          .eventDate
            i.icon.fas.fa-calendar-alt
            span May 25
          .eventTime
            i.icon.fas.fa-clock
            span 02:00 PM - 04:00 PM
          .eventLocation
            i.icon.fas.fa-map-marker-alt
            span SELE 2264
        li.event
          .eventName
            span Test Event 3
          .eventDate
            i.icon.fas.fa-calendar-alt
            span May 25
          .eventTime
            i.icon.fas.fa-clock
            span 02:00 PM - 04:00 PM
          .eventLocation
            i.icon.fas.fa-map-marker-alt
            span SELE 2264
        li.event
          .eventName
            span Test Event 4
          .eventDate
            i.icon.fas.fa-calendar-alt
            span May 25
          .eventTime
            i.icon.fas.fa-clock
            span 02:00 PM - 04:00 PM
          .eventLocation
            i.icon.fas.fa-map-marker-alt
            span SELE 2264
        li.event
          .eventName
            span Test Event 5
          .eventDate
            i.icon.fas.fa-calendar-alt
            span May 25
          .eventTime
            i.icon.fas.fa-clock
            span 02:00 PM - 04:00 PM
          .eventLocation
            i.icon.fas.fa-map-marker-alt
            span SELE 2264
        li.event
          .eventName
            span Test Event 6
          .eventDate
            i.icon.fas.fa-calendar-alt
            span May 25
          .eventTime
            i.icon.fas.fa-clock
            span 02:00 PM - 04:00 PM
          .eventLocation
            i.icon.fas.fa-map-marker-alt
            span SELE 2264
        li.event
          .eventName
            span Test Event 7
          .eventDate
            i.icon.fas.fa-calendar-alt
            span May 25
          .eventTime
            i.icon.fas.fa-clock
            span 02:00 PM - 04:00 PM
          .eventLocation
            i.icon.fas.fa-map-marker-alt
            span SELE 2264
        li.event
          .eventName
            span Test Event 8
          .eventDate
            i.icon.fas.fa-calendar-alt
            span May 25
          .eventTime
            i.icon.fas.fa-clock
            span 02:00 PM - 04:00 PM
          .eventLocation
            i.icon.fas.fa-map-marker-alt
            span SELE 2264
    #transit
      #cta
        ul#bus
          li.busItem
            span.route.icon 8
            span.eta 19m
            span.direction Test
          li.busItem
            span.route.icon 8
            span.eta 19m
            span.direction Test
          li.busItem
            span.route.icon 8
            span.eta 19m
            span.direction Test
          li.busItem
            span.route.icon 8
            span.eta 9m
            span.direction Test
          li.busItem
            span.route.icon 8
            span.eta 9m
            span.direction Test
          li.busItem
            span.route.icon 8
            span.eta 9m
            span.direction Test
        ul#train
          li.trainItem
            i.fa.fa-train.icon(style='background-color: blue;')
            span.eta(style='color: blue;border-color:blue;') 19m
            span.direction O'Hare
          li.trainItem
            i.fa.fa-train.icon(style='background-color: blue;')
            span.eta(style='color: blue;border-color:blue;') 19m
            span.direction O'Hare
          li.trainItem
            i.fa.fa-train.icon(style='background-color: blue;')
            span.eta(style='color: blue;border-color:blue;') 19m
            span.direction O'Hare
          li.trainItem
            i.fa.fa-train.icon(style='background-color: blue;')
            span.eta(style='color: blue;border-color:blue;') 19m
            span.direction O'Hare
  script(src='/main.js')