extends layout

block content
  #time
  #date
  #message
    #map
    #cta
      ul#bus
        li
          span.route
          span.direction
          span.eta
      ul#train
        li
          span.route
          span.direction
          span.eta
  #weather
    i#weather-icon
    p#weather-condition
    p#weather-temperature