extends layout

block content
  #offlineMode.modeOverlay Offline Mode
  #demoMode.modeOverlay Demo Mode
  #time
  #date
  #weather
  #messages
  #switcher
    #events
    #transit
      #cta
        ul#bus
        ul#train
  script(src='/main.js')