<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="owf/css/owfont-regular.css" rel="stylesheet" type="text/css">
    <title>Not So Simple JS Clock</title>
</head>
<body onload="startTime()" class="#body">
    <div class="wrapper">
        <div id="time"></div>
        <div id="date"></div>

        <div id="message">
            <div id="map">
                
            </div>
            <div id="cta">
                <ul id="bus">
                    <li>
                        <span class="route"></span>
                        <span class="direction"></span>
                        <span class="eta"></span>
                    </li>
                </ul>
                <ul id="train">
                    <li>
                        <span class="route"></span>
                        <span class="direction"></span>
                        <span class="eta"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="weather">
            <i id="weather-icon"></i>
            <p id="weather-condition"></p>
            <p id="weather-temperature"></p>
        </div>

    </div>
    <script src="main.js"></script>
    <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtnVHaDheYBfJakwrZpUJnvUoW8_lfM9g&callback=initMap">
</script>
    </body>
</html>
