doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    link(rel='stylesheet', href='/owi/css/open-weather-icons.css')
    title #{title} | Not So Simple JS Clock
  body
    .wrapper
      block content
      #footer
        | Contribute to this project on GitHub
        a(href="https://github.com/bmiddha/simple-js-clock")
          i.fab.fa-github
          |  github.com/bmiddha/simple-js-clock
      script(src='/main.js')