extends layout

block content
    form#configForm(action="/", method="get", target="_blank")
        //- fieldset
            //- legend Configure

        label(for="config") Enable Config
        input(type="checkbox", name="config")
        br
        label(for="ctabusstops") CTA Bus Stops (Add comma separated stop ids)
        input(type="text" name="ctabusstops")
        br
        label(for="ctatrainstations") CTA Train Stations (Add comma separated station ids)
        input(type="text" name="ctatrainstations")
        br
        label(for="weathercity") Weather City
        input(type="text" name="weathercity")
        br
        label(for="eventcalendars") Event Calendars (Add comma separated calendar ids)
        input(type="text" name="eventcalendars")
        br
        input(type="submit",value="Submit")