@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0;
  background-color: #000000;
  background-size: 100%;
  -webkit-transition: background-color 5s ease-out;
  -o-transition: background-color 5s ease-out;
  transition: background-color 5s ease-out;
  background-image: url("asfalt-light.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 600px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wrapper {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  text-align: center;
  display: grid;
  grid-template-areas: "a a a" "b b b" "c c c" "d d e";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0 3fr 1fr 5fr; }
  .wrapper #message {
    height: 300px;
    grid-area: d;
    opacity: 1;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out; }
    .wrapper #message #bus {
      clear: both; }
      .wrapper #message #bus li {
        display: none; }
      .wrapper #message #bus li:nth-child(-n+8) {
        display: list-item; }
    .wrapper #message #bus, .wrapper #message #train {
      clear: both;
      font-size: 45px; }
      .wrapper #message #bus li, .wrapper #message #train li {
        padding: 5px;
        list-style: none;
        border: 1px solid;
        min-width: 510px;
        float: left; }
        .wrapper #message #bus li i, .wrapper #message #bus li .route, .wrapper #message #bus li .direction, .wrapper #message #train li i, .wrapper #message #train li .route, .wrapper #message #train li .direction {
          margin-right: 5px; }
  .wrapper #time {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.05em;
    font-size: 280px;
    padding: 5px 0;
    grid-area: b; }
  .wrapper #date {
    letter-spacing: 0.1em;
    font-size: 100px;
    grid-area: c; }
  .wrapper #weather {
    grid-area: e;
    font-size: 80px;
    text-align: left; }
    .wrapper #weather p {
      margin: 0; }

@media (max-width: 1600px) {
  .wrapper #time {
    font-size: 200px; }
  .wrapper #date {
    font-size: 75px; }
  .wrapper #weather {
    font-size: 65px; }
  .wrapper #message {
    height: 200px; } }

@media (max-width: 1200px) {
  .wrapper #time {
    font-size: 160px; }
  .wrapper #date {
    font-size: 55px; }
  .wrapper #weather {
    font-size: 45px; }
  .wrapper #message {
    height: 150px; } }

@media (max-width: 930px) {
  .wrapper #time {
    font-size: 120px; }
  .wrapper #date {
    font-size: 45px; }
  .wrapper #weather {
    font-size: 40px; }
  .wrapper #message {
    height: 120px; } }

@media (max-width: 650px) {
  .wrapper {
    grid-template-areas: "a a a" "b b b" "c c c" "e e e" "d d d";
    grid-template-rows: 0 3fr 2fr 4fr 3fr; }
    .wrapper #time {
      font-size: 78px; }
    .wrapper #date {
      font-size: 30px; }
    .wrapper #weather {
      font-size: 35px;
      text-align: center; }
    .wrapper #message {
      height: 120px; } }

@media (max-width: 420px) {
  .wrapper #time {
    font-size: 50px; }
  .wrapper #date {
    font-size: 20px; }
  .wrapper #weather {
    font-size: 30px; }
  .wrapper #message {
    height: 90px; } }
