@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0;
  background-color: #000000;
  background-size: 100%;
  -webkit-transition: background-color 5s ease-out;
  -o-transition: background-color 5s ease-out;
  transition: background-color 5s ease-out;
  background-image: url("asfalt-light.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 600px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 1080px;
  width: 1920px;
  overflow: hidden; }

.wrapper {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  text-align: center;
  display: grid;
  grid-template-areas: "a a a" "b b b" "c c c" "d d e";
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-rows: 0 2fr 0.8fr 6fr; }
  .wrapper #message {
    margin-left: 50px;
    grid-area: d; }
    .wrapper #message #bus {
      clear: both; }
      .wrapper #message #bus li {
        display: none;
        background: #aa2222; }
      .wrapper #message #bus li:nth-child(-n+10) {
        display: list-item; }
    .wrapper #message #train {
      clear: both; }
      .wrapper #message #train li {
        display: none;
        background: #2222aa; }
      .wrapper #message #train li:nth-child(-n+4) {
        display: list-item; }
    .wrapper #message #bus, .wrapper #message #train {
      clear: both;
      padding: 0;
      font-size: 47px;
      margin: 10px 0; }
      .wrapper #message #bus li, .wrapper #message #train li {
        padding: 6px;
        list-style: none;
        border: 1px solid;
        min-width: 650px;
        float: left; }
        .wrapper #message #bus li i, .wrapper #message #bus li .route, .wrapper #message #bus li .direction, .wrapper #message #train li i, .wrapper #message #train li .route, .wrapper #message #train li .direction {
          margin-right: 5px;
          float: left;
          padding: 0 10px; }
        .wrapper #message #bus li .eta, .wrapper #message #train li .eta {
          float: right; }
  .wrapper #time {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.05em;
    font-size: 280px;
    padding: 5px 0;
    grid-area: b; }
  .wrapper #date {
    letter-spacing: 0.1em;
    font-size: 100px;
    grid-area: c; }
  .wrapper #weather {
    grid-area: e;
    font-size: 60px;
    text-align: left;
    margin-right: 50px;
    margin-top: 40px; }
    .wrapper #weather p, .wrapper #weather i {
      text-align: right;
      margin: 0 10px 0 0;
      width: 100%; }
    .wrapper #weather i {
      font-size: 150px; }
